<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/style/mijnstijl.css">
        <link rel="stylesheet" href="/style/style.css">
        <script type="text/javascript" src="/app/mijnscript.js">
        </script>
    </head>
    <body>
        <div class="container-fluid container-header">
            <div class="jumbotron">
                <h1>Dit is pagina 2</h1>
            </div>
        </div><!-- end container header -->
    </body>
</html>